.inputlist {
  border: none;
  padding: 5px;
  border-radius: 6px;
}

.inputlist:hover {
  background-color: rgba(199, 195, 195, 0.253);
  border: none;
}

.inputlist:focus {
  outline: none;
  border: none;
}

.headertodo {
  font-size: 14px;
  font-weight: 300;
  color: rgba(128, 128, 128, 0.541);
  position: absolute;
  top: 10px;
}
