.inputlist {
  border: none;
  padding: 5px;
  border-radius: 6px;
}

.inputlist:hover {
  background-color: rgba(199, 195, 195, 0.253);
  border: none;
}

.inputlist:focus {
  outline: none;
  border: none;
}
