.folderwindow {
  background-color: white;
  height: 80vh;
  width: 30vw;
  min-width: 300px;
  max-width: 450px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.todowindow {
  background-color: white;
  height: 80vh;
  width: 30vw;
  top: 35px;
  min-width: 300px;
  max-width: 450px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.topicheader {
  background-color: white;
  width: 250px;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topicheader button {
  height: 25px;
  width: 25px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.todo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.todo li {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.todo li:hover:not(.selectedstyle) {
  background-color: rgba(192, 192, 192, 0.329);
}

.check {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deletebutton {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.inputdiv {
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.inputdiv input {
  border-radius: 20px;
  width: 80%;
  min-width: 200px;
  padding-left: 10px;
  border: none;
  background-color: rgba(224, 217, 217, 0.39);
}

.inputdiv button {
  border-radius: 50%;
  border: solid 1px black;
}

.inputdiv input:focus {
  border: none;
}

.content {
  margin-top: 20px;
}

.nameinput {
  border: none;
  font-size: 20px;
  width: 80%;
  font-weight: 600;
}

.nameinput:focus {
  border: none;
  outline: none;
}

#note {
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

textarea {
  width: 95%;
  border: none;
  outline: none;
  resize: none;
}

textarea:focus {
  border: none;
  outline: none;
  resize: none;
}

.selectedstyle {
  background-color: rgba(116, 116, 231, 0.527);
  color: white;
}

.linethrough {
  text-decoration: line-through;
}
