.folderwindow {
  background-color: white;
  height: 80vh;
  width: 30vw;
  min-width: 300px;
  max-width: 450px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.topicheader {
  background-color: white;
  width: 250px;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
}

.todo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.todo li {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.todo li:hover {
  background-color: rgba(192, 192, 192, 0.329);
}

.check {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deletebutton {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.inputdiv {
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.inputdiv input {
  border-radius: 20px;
  width: 80%;
  min-width: 200px;
  padding-left: 10px;
  border: none;
  background-color: rgba(224, 217, 217, 0.39);
}

.inputdiv button {
  border-radius: 50%;
  border: solid 1px black;
}

.inputdiv input:focus {
  border: none;
}
