body {
  background-image: url("./images/fixed.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: aliceblue;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: row;
}
